* {
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 350px;
}

.card {
  padding: 90px 30px;
  position: relative;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 10px #bbbaba;
  border-radius: 5px;
  margin: 0 20px;
}

.material-icons.md-48 {
  font-size: 48px;
  color: #0984e2;
}

.number {
  box-shadow: 1px 1px 5px #bbbaba;
  position: absolute;
  border-radius: 50%;
  padding: 25px;
  left: 100px;
  bottom: 320px;
  background-color: #fff;
  font-size: 32px;
  font-weight: 100;
  color: #656968;
}

.shape {
  width: 130px;
  height: 130px;
  background-color: #0984e2;
}

#upper-shape {
  margin-left: auto;
  border-radius: 0 0 0 150px;
}
#lower-shape {
  margin-right: auto;
  border-radius: 0 150px 0 0;
}
.para {
  color: #74787a;
}
