* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.images {
  border: 8px solid black;
  width: 600px;
  height: 400px;
  margin: 0 20px;
  box-shadow: 5px 5px #888888;
}
