* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.images {
  border: 6px solid black;
  width: 270px;
  height: 200px;
  margin: 0 10px;
  box-shadow: 5px 5px #888888;
}
